---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import Brands from '~/components/widgets/Brands.astro';



const metadata = {
  title: 'Aconcagua Pared Sur',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/imagen_bg.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Especialistas <span class="hidden xl:inline">en expediciones al</span>
      <span class="text-accent dark:text-white highlight"> Aconcagua.</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Pared Sur</span> Nuestro equipo de guías expertos te ofrece apoyo personalizado y seguridad en cada paso. Ya seas principiante o experimentado, te ayudaremos a alcanzar la cumbre más alta de América. 
        ¡Únete a nosotros para una experiencia inolvidable en la montaña!</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Elige tu Aventura"
    title="Expediciones al Aconcagua y Servicios"
    items={[
      {
        title: 'Ruta Normal',
        description:
          'Alcanzá la cumbre del cerro más alto de América, en un programa que incluye el trekking a Plaza Francia para aclimatar',
      },
      {
        title: 'Ruta 360º',
        description:
          'Combina dos rutas alrededor del Aconcagua, la cara este y noroeste. Ascender a través del valle de Vacas y descender a través de la ruta normal le permite disfrutar de la magnificencia de la montaña más alta de América.',
      },
      {
        title: 'Ruta Polacos',
        description:
          'La ruta Normal Extendida incluye además del trekking a Plaza Francia, el ascenso del cerro Bonete (5000m) como parte de la aclimatación para alcanzar la cumbre del Aconcagua',
      },
    
      {
        title: 'Ruta Falso Polacos',
        description:
          'A través de esta ruta el Aconcagua nos muestra su cara más rústica. Ésta ruta posee menos tráfico que la ruta normal.',
      },
      
    ]}
    image={{
      src: '~/assets/images/imagen1.jpg',
      alt: 'Imagen1',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Expediciones</h3>
      Requieren una logística impecable desde nuestra parte y una excelente preparación física y psicológica de los miembros del equipo.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Trekking Corto - Plaza Francia',
        description: `Una caminata muy amigable que te brinda una experiencia emocionante y un fuerte encuentro con la naturaleza. Te lleva a los glaciares de Plaza Francia, en la base del magnífico Muro Sur del Aconcagua con sus 3000 metros verticales.`,
      },
      {
        title: 'Trekking Largo - Plaza de Mulas',
        description:
          'Una aventura donde alcanzarás Plaza Francia y Plaza de Mulas, que te permitirá participar en el mundo exclusivo de los escaladores de todo el mundo, preparándose para la cumbre.',
      },
      {
        title: 'Trekking Valle de Lágrimas - Avión de los Uruguayos',
        description: `Una caminata que te brindará una experiencia emocionante y un fuerte encuentro con la naturaleza. Llegaremos hasta el lugar donde se vivió el Milagro de los Andes y homenajearemos a los uruguayos que pasaron por esta tragedia.`,
      },
      
    ]}
    image={{
      src: '~/assets/images/imagen2.JPG',
      alt: 'Trekking Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekkings</h3>
    Los trekkings en el Parque Aconcagua premian al visitante con una vista magnífica y la emocionante experiencia de acercarse a la base de la mítica Pared Sur del Aconcagua.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Servicio completo de asistencia al montañista',
        description:
          'Si eres un experimentado montañista o guía de montaña, entonces esta asistencia completa de servicios logísticos es ideal para el respaldo de tu expedición.',
      },
     
      {
        title: 'Un respaldo confiable para tu expedición',
        description:
          'Somos propietarios de todos los servicios en montaña como mulas, campamentos, porteadores, infraestructura y equipamiento requerido para prestar el mejor y más confiable servicio para nuestras expediciones.',
      },
      {
        title: 'Transporte y Traslado. Cdad Mendoza - Penitentes',
        description:
          'Nuestro objetivo es que al arribar a Mendoza estés libre de preocupaciones y que puedas iniciar tu experiencia en el Cerro Aconcagua sin ningún contratiempo.',
      },
      {
        title: 'Alojamientos en campos base',
        description: `En nuestros campamentos contamos con el servicio de tiendas dormitorio y tiendas estructurales dormitorio con cuchetas.`,
      },
    ]}
    image={{
      src: '~/assets/images/imagen3.jpg',
      alt: 'Imagen Massages',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Servicios logísticos Aconcagua</h3>
    Concéntrese solo en disfrutar de esta experiencia única y dejar la logística en manos de especialistas en aconcagua.

  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->


    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  <!-- HighlightedPosts Widget ******* -->


  <Brands
  title="Quality certifications & Supports & Certifications"
  subtitle=""
  icons={[]}
  images={[
    {
      src: '~/assets/images/cert2.png',
      alt: 'Centro',
    },
    {
      src: '~/assets/images/cert3.png',
      alt: 'Guias',
    },
    {
      src: '~/assets/images/cert1.png',
      alt: 'UOI',
    },
   
  ]}
/>
</Layout>
