---
import Content from '~/components/widgets/Content.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Whatsapp from  '~/components/widgets/Whatsapp.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Trekkings',
};
---

<Layout metadata={metadata}>
  <Whatsapp
  images={[
    {
      src: '~/assets/images/WhatsApp_icon.png',
      alt: 'Centro',
    }
  ]}
/>


  <!-- Hero Widget ******************* -->

  <Hero3
    tagline="Trekkings"
    title="Aventuráte al Aconcagua con nuestros trekkings."
    subtitle="Los trekkings en el Parque Aconcagua te ofrecen vistas magníficas y la emocionante oportunidad de acercarte a la base de la mítica Pared Sur del Aconcagua. Con casi 3.000 metros de altura y cubierto de glaciares colgantes, es una de las paredes más impresionantes del mundo. Tenemos dos itinerarios diseñados para que disfrutes de una experiencia inolvidable y explores los diferentes campamentos base del Aconcagua."
  
  />

  <!-- Features2 Widget ************** -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Descubrí la grandeza del Aconcagua',
        description:
          'El Cerro Aconcagua nos maravilla con su paisaje primitivo y majestuoso. Es una experiencia que va más allá de la vista de magníficos paisajes, cielos azules, fuertes vientos y majestuosas nubes. Sumergíte en la experiencia completa que abarca desde las rocas hasta las estrellas y el silencio profundo que sólo la naturaleza puede ofrecer.',
        icon: 'tabler:mountain',
      },
      {
        title: 'Preparáte para la aventura de tu vida',
        description:
          'La emocionante travesía comienza en la base de la icónica Pared Sur del Aconcagua, rodeada de glaciares colgantes y paredes que alcanzan casi 3.000 metros de altura, siendo una de las más impresionantes del planeta.',
        icon: 'tabler:shoe',
      },
      {
        title: 'Listo para el desafío',
        description:
          'Este programa de trekking de tres días está diseñado para aquellos con una buena salud y un estado físico óptimo. Nuestro equipo de especialistas garantiza una aventura segura y gratificante. ¡Uníte a nosotros y descubrí la grandeza del Aconcagua!',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/trekking2.jpg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <a href="/trekking_corto"> <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Corto (Plaza Francia) -  <span class="text-accent dark:text-white highlight"> 3 días</span></h3> </a>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Viví la aventura en Plaza de Mulas',
        description:
          'El campamento base Plaza de Mulas (4.260 m.s.n.m.) en la ruta normal del Parque Aconcagua, cobra vida cada temporada con personas de todo el mundo. Además de explorar Plaza Francia y la imponente Pared Sur, te invitamos a hacer cumbre en el Cerro Bonete (5000 mts) y disfrutar de una vista exclusiva de la Pared Oeste del Aconcagua y sus alrededores.',
        icon: 'tabler:mountain',
      },
      {
        title: 'Acceso fácil y vistas espectaculares',
        description:
          'El acceso es sencillo, con una senda claramente marcada por el tránsito de montañeros y ganado, y puentes seguros para cruzar los ríos. Este trekking de siete días te permitirá ver las dos caras más impresionantes del Aconcagua: Plaza Francia y su Pared Sur, y el largo pero recompensante camino a Plaza de Mulas, donde podrás disfrutar la inolvidable Pared Oeste.',
        icon: 'tabler:shoe',
      },
      {
        title: 'Conectáte y alcanzá la cumbre del Cerro Bonete',
        description:
          'En Plaza de Mulas, compartirás experiencias con montañistas de todo el mundo. Luego, podrás subir al Cerro Bonete (5.000 mts) para una vista impresionante del Aconcagua y su campamento base. La cumbre del Bonete ofrece un paisaje indescriptible que queremos que vivas por vos mismo. ¡Uníte a esta aventura única!',
        icon: 'tabler:man',
      },
     
    ]}
    image={{
      src: '~/assets/images/imagen2.jpg',
      alt: 'PlazaDeMulas Image',
    }}
  >
  <Fragment slot="content">
    <a href="/trekking_largo"> <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Largo (Plaza de Mulas) –   <span class="text-accent dark:text-white highlight"> 7 días</span></h3> </a>
  </Fragment>
  </Content>
  <Content
    isReversed
    items={[
      {
        title: 'Sumergíte en la historia',
        description:
          'Descubrí de cerca el asombroso escenario donde ocurrió uno de los relatos más impactantes de supervivencia y coraje humano. Durante tres días, exploraremos el Valle de las Lágrimas en Malargüe.',
        icon: 'tabler:plane',
      },
      {
        title: 'Experiencia de película',
        description:
          'El trekking al Avión de los Uruguayos va más allá de una simple excursión. Adéntrate en el lugar donde se estrelló el avión en el accidente de 1972, un sitio cargado de mística e historia.',
        icon: 'tabler:camera',
      },
      {
        title: 'Viví la emoción',
        description:
          'Acompañados por guías expertos, viviremos esta historia con intensidad y entusiasmo. ¡Preparáte para descubrir esta emocionante experiencia en pleno corazón de la Cordillera de los Andes!',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/avion.png',
      alt: 'Features Image',
    }}
  >
  <Fragment slot="content">
    <a href="/trekking_avion"> <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Valle de Lágrimas – <span class="text-accent dark:text-white highlight"> 3 días</span></h3> </a>
  </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Comentarios de nuestros clientes!"
    testimonials={[
      {
        testimonial: `Participar en un trekking con Pared Sur fue una de las mejores decisiones de mi vida. Los guías son expertos y muy atentos, lo que hizo que todo el recorrido fuera seguro y agradable. ¡Ya estoy planeando mi próximo viaje con ellos!`,
        name: 'Marío Rodríguez',
        job: 'Montevideo, Uruguay',
        image: {
          src: '~/assets/images/expedicion_comentario1.jpeg',
          alt: 'Marío Rodríguez Image',
        },
      },
      {
        testimonial: `El trekking organizado por Pared Sur superó todas mis expectativas. Los paisajes eran impresionantes y la ruta estaba perfectamente planificada. Además, la camaradería y el espíritu del grupo hicieron de esta experiencia algo verdaderamente especial.`,
        name: 'Lucas Nicorenau',
        job: 'Valparaíso, Chile',
        image: {
          src: '~/assets/images/trekking_comentario3.jpg',
          alt: 'Lucas Fernández Image',
        },
      },
      {
        testimonial: `Los trekkings con Pared Sur son simplemente espectaculares. La combinación de naturaleza virgen, rutas desafiantes y guías experimentados crean una experiencia inolvidable. No puedo esperar a unirme a otra aventura con ellos.`,
        name: 'Pedro Salinas',
        job: 'Asunción, Paraguay',
        image: {
          src: '~/assets/images/trekking_comentario2.jpg',
          alt: 'Pedro Álvarez Image',
        },
      },
    ]}
  />


<!-- Pricing Widget ******************* -->


  <!-- CallToAction Widget *********** -->

</Layout>
