---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Trekkings',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    tagline="Trekkings"
    title="Aventuráte al Aconcagua con nuestros servicios para escalarla."
    subtitle="Los trekkings en el Parque Aconcagua premian al visitante con una vista magnífica y la emocionante experiencia de acercarse a la base de la mítica Pared Sur del Aconcagua, con sus casi 3.000 metros de altura y cubierto de glaciares colgantes, es una de las más grandes del mundo... "
  
  />

  <!-- Features2 Widget ************** -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Aconcagua desde adentro',
        description:
          'El Aconcagua ... . Antiguo altar Incas nos deslumbra con su paisaje primitivo y hermoso. Un viaje único en el interior de los Andes, es mucho más que maravillosos paisajes, cielos azules, fuertes vientos y las nubes majestuosas; mucho más que rocas, las estrellas y el silencio...',
        icon: 'tabler:mountain',
      },
      {
        title: 'Aventura inolvidable',
        description:
          'Nos adentramos en el reino del Centinela de Piedra. La aventura comienza en la base de la mítica Pared Sur del Aconcagua, con glaciares colgantes y las paredes de casi 3.000 metros de altura, una de las más grandes del mundo.',
        icon: 'tabler:shoe',
      },
      {
        title: 'Debe estar preparado!',
        description:
          'Este Programa de Trekking está diseñado para personas con buena salud y estado físico óptimo (por ejemplo capaces de marchar 3 o 4 veces por semana 1 a 2 horas).',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/trekking2.jpg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Corto - Plaza Francia</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Descripción',
        description:
          'La ciudad de tela. La urbe más alta del mundo. La Torre de Babel de carpas. El campamento base Plaza de Mulas en el Parque Aconcagua, a 4.260 m.s.n.m. sobre la ruta normal es una muy especial población de alta montaña que cobra vida cada temporada donde conviven personas de los rincones más exóticos del planeta.',
        icon: 'tabler:mountain',
      },
      {
        title: 'Acceso',
        description:
          'El acceso es fácil ya que existe una senda perfectamente marcada por el tránsito permanente de montañeros y ganado. El cruce del río se efectúa por puentes.',
        icon: 'tabler:shoe',
      },
      {
        title: 'Comunidad expedicionista',
        description:
          'Estar en contacto con gente de todo el mundo, que como nosotros, va en busca de un desafío interior de plena comunión con la montaña.',
        icon: 'tabler:man',
      },
     
    ]}
    image={{
      src: '~/assets/images/plazafrancia.jpg',
      alt: 'PlazaDeMulas Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Largo - Plaza de Mulas</h3>
    </Fragment>
  </Content>
  <Content
    isReversed
    items={[
      {
        title: 'Vive la historia',
        description:
          'Te llevaremos a conocer y a contemplar de cerca el increíble entorno en donde sucedió una de las más impactantes historias de supervivencia y superación humana. Tres días en el Valle de las Lágrimas, en plena Cordillera de los Andes.',
        icon: 'tabler:plane',
      },
      {
        title: 'Aventura inolvidable',
        description:
          'Trekking avión de los uruguayos es una excursión al lugar donde cayó el avión de los uruguayos en el accidente de 1972, un lugar cargado de mística e historia. Te llevaremos a conocer y a contemplar de cerca el increíble entorno donde trascendió este suceso de supervivencia y superación humana.',
        icon: 'tabler:camera',
      },
      {
        title: 'Comodidad al máximo',
        description:
          'Descansando en confortables campamentos y rodeados de los más experimentados guías, viviremos con emoción, energía y entusiasmo la historia de un grupo de hombres que no se rindieron ante la adversidad',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/avion.jpg',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trekking Valle de Lágrimas - Avión de los Uruguayos</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: '~/assets/images/plazademulas.jpg',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Unirme',
        href: '/contact',
      },
    ]}
    subtitle="Te interesaría realizar nuestros trekkings?"
  />
</Layout>
