---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Aconcagua',
};
---

<Layout metadata={metadata}>
 

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="ACONCAGUA, EL GIGANTE DE AMÉRICA"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Expediciones', href: '/services' },
      { text: 'Trekkings', href: '/homes/saas' },
    ]}
    image={{
      src: '~/assets/images/aconcagua_sobre.jpg',
      alt: 'Aconcagua',
    }}
  >
    <Fragment slot="title">
      Aconcagua <br /> el gigante de <span class="text-accent dark:text-white highlight"
        >América</span
      > <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        El Aconcagua, con una altitud de 6.959 metros sobre el nivel del mar, <span class="font-semibold">es la montaña más alta de América</span></span
      >
      y una de las más imponentes del mundo. Ubicada en la provincia de Mendoza, Argentina, cerca de la frontera con Chile, esta majestuosa cumbre es un destino codiciado por alpinistas y aventureros de todas partes del mundo.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

 

  <!-- Content Widget **************** -->

  

  <!-- Content Widget **************** -->

  


<Features2
title="Sobre el Aconcagua"
subtitle="El Cerro Aconcagua se erige como el corazón y el principal atractivo del Parque Provincial Aconcagua, una de las áreas protegidas más impresionantes de Argentina. Este parque abarca 71.000 hectáreas en la provincia de Mendoza, situado a unos kilómetros al este de la frontera con Chile. Las aguas del parque fluyen hacia el interior de Mendoza a través de los ríos Horcones, Vacas y Cuevas. El Aconcagua es la montaña más alta del Hemisferio Sur y Occidental, y la cima más elevada del continente americano. Es un destacado ícono en el prestigioso circuito de las siete cumbres. Además, es ideal para iniciarse en el alpinismo de gran altitud, ya que su elevación, junto con sus condiciones geográficas y climáticas, ofrece un escenario perfecto tanto para desafíos moderados como para prepararse para las mayores hazañas deportivas que demandan las cumbres de ocho mil metros. "
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2>

  <!-- Content Widget **************** -->

  <!-- Pricing Widget ******************* -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Le llamó la atención este artículo?"
    subtitle="Tiene preguntas? Contáctenos para obtener mas información acerca de lo que tenemos para ofrecerle..."
    callToAction={{
      text: 'Click aquí',
      href: '/contact',
    }}
    items={[
      {
        title: 'Email',
        description: 'aconcaguaparedsur@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Teléfono',
        description: '+54 9 (261) 511-0924',
        icon: 'tabler:headset',
      },
      {
        title: 'Instagram',
        description: '@aconcaguaparedsur',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Estás con ganas de conocer el Aconcagua?"
    information={`Explora algunos de los paquetes y servicios que tenemos para vos.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
