---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Expediciones',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        
        {
          variant: 'primary',
          text: 'Reservar',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="PAQUETES DE EXPEDICIÓN AL ACONCAGUA"
    image={{
      src: '~/assets/images/expedicion1.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Elige tu expedición a la<br /> cima del <span class="text-accent dark:text-white highlight"
        >Aconcagua.</span
      ><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Nuestras expediciones son programas que requieren una logística impecable desde nuestra parte <span class="font-semibold">y una excelente preparación física y psicológica de   </span>los miembros del equipo que trata de atacar la cumbre.</span
      >
      Somos montañistas y sabemos los servicios que se necesitan en la montaña, es por eso que nos ocupamos de todos los detalles con el fin de que nuestros clientes sólo se preocupen por lo único que tiene que preocuparse: aclimatar y mantenerse fuertes para llegar a la cima.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->


  <BlogLatestPosts
    id="blog"
    title="Expediciones al Aconcagua."
    information={`Explora las expediciones que tenemos para ofrecerte y consulta los precios.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  

  <!-- Content Widget **************** -->

  <!-- Pricing Widget ******************* -->

  <!-- FAQs Widget ******************* -->
  <Testimonials
  title="Testimonios de Nuestros Clientes."
  testimonials={[
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
  ]}
/>

  <CallToAction
  actions={[
    {
      variant: 'primary',
      target: '_blank',
      text: 'Servicios',
      href: '/servicescopy',
    },
  ]}
>
  <Fragment slot="title">Prefieres escalar por tu cuenta?</Fragment>

  <Fragment slot="subtitle">
    Descubre los servicios que ofrecemos...
  </Fragment>
</CallToAction>
  <!-- Steps2 Widget ****************** -->

 

  <!-- BlogLatestPost Widget **************** -->

</Layout>
