---
import Layout from '~/layouts/PageLayout.astro';
import Whatsapp from  '~/components/widgets/Whatsapp.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';




import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Expediciones',
};
---

<Layout metadata={metadata}>
  <Whatsapp
  images={[
    {
      src: '~/assets/images/WhatsApp_icon.png',
      alt: 'Centro',
    }
  ]}
/>


  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        
        {
          variant: 'primary',
          text: 'Reservar',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Expediciones a Aconcagua"
    image={{
      src: '~/assets/images/expedicion1.jpg',
      alt: 'Expedicion al Aconcagua',
    }}
  >
    <Fragment slot="title">
      Elegí tu ruta hacia la <br /> cumbre de <span class="text-accent dark:text-white highlight"
        >América.</span
      ><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Tenemos un equipo especializado que garantiza una excelente logística.<span class="font-semibold"> Estamos en cada detalle.</span> Nuestras expediciones varían dependiendo la duración y las rutas que elijas. 
        Somos montañistas experimentados, conocemos las necesidades de nuestros clientes y nos 
        encargamos de que ellos se concentren únicamente en aclimatarse y mantenerse fuertes para llegar a la
         cumbre.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->


  <BlogLatestPosts
    id="blog"
    title="Expediciones al Aconcagua."
    information={`Explora las expediciones que tenemos para ofrecerte y consulta los precios.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  

  <!-- Content Widget **************** -->


  <!-- FAQs Widget ******************* -->
  <Testimonials
  title="Testimonios de Nuestros Clientes."
  testimonials={[
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
    {
      testimonial: `¡Increíble experiencia con Pared Sur! Su equipo experto nos guió con seguridad y profesionalismo hacia la cumbre del Aconcagua. ¡Una aventura que nunca olvidaré!`,
      name: 'Matías Mann',
      job: '',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Emily Kennedy Image',
      },
    },
  ]}
/>



  <CallToAction
  actions={[
    {
      variant: 'primary',
      target: '_blank',
      text: 'Servicios',
      href: '/servicescopy',
    },
  ]}
>
  <Fragment slot="title">Prefieres escalar por tu cuenta?</Fragment>

  <Fragment slot="subtitle">
    Descubre los servicios que ofrecemos...
  </Fragment>
</CallToAction>
  <!-- Steps2 Widget ****************** -->

 

  <!-- BlogLatestPost Widget **************** -->

</Layout>
