---
import Layout from '~/layouts/PageLayout.astro';

import Hero4 from '~/components/widgets/Hero4.astro';
import Whatsapp from  '~/components/widgets/Whatsapp.astro';

import Features2 from '~/components/widgets/Features2.astro';

import Stats from '~/components/widgets/Stats.astro';




const metadata = {
  title: 'Nosotros',
};
---

<Layout metadata={metadata}>
  <Whatsapp
  images={[
    {
      src: '~/assets/images/WhatsApp_icon.png',
      alt: 'Centro',
    }
  ]}
/>

  <!-- Hero Widget ******************* -->

  <Hero4
    tagline="Sobre Nosotros"
  >
    <Fragment slot="title">
      Aconcagua <span class="hidden sm:inline"></span><span
        class="text-accent dark:text-white highlight">Pared </span
      > Sur.
    </Fragment>

  </Hero4>

  <!-- Features2 Widget ************** -->

  <Features2
    title=""
    subtitle="Aconcagua Pared Sur es una de las empresas mas contratadas de expediciones y trekkings en el Cerro Aconcagua, con una reputación envidiable de éxito de cumbre y un historial de seguridad para cliente sin igual. En nuestras expediciones encontrarás los guías profesionales certificados más valiosos, el conocimiento que sólo puede darte una empresa local, la mejor infraestructura logística y sobre todo una relación personal única, ya que nos enfocamos en tratar a todos nuestros visitantes como alguien especial. Todo nuestro equipo comparte la pasión por la montaña. Nuestra misión es ayudar a quienes nos visitan a alcanzar sus metas personales y, sobre todo, lograr transmitirles esa pasión para que vivan una experiencia inolvidable. Únase a nosotros en la montaña y comience a vivir una experiencia de vida única, de la mano de los especialistas en Aconcagua."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Descubra el impacto que tiene Pared Sur."
    subtitle="Estos son algunos de los números que avalan nuestros servicios."
    stats={[
      { title: 'Expediciones', amount: '1K' },
      { title: 'Resenas', amount: '4.8' },
      { title: 'Clientes satisfrechos', amount: '3K' },
    ]}
  />

  <!-- Brands Widget ****************** -->


  <!-- Features2 Widget ************** -->


  <!-- Features Widget *************** -->



  <!-- FAQs Widget ******************* -->

  

  <!-- Features3 Widget ************** -->

  
</Layout>
